body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: khaki;
}

h1 {
font-weight: bold;
font-size: 40px;
color: DarkOrchid;
letter-spacing: 2px;
margin-bottom:0px;
}

.pic_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 362px;
  width: 853px;
  margin-top:inherit;
}

.inputSection {
  margin: 50px 0px 40px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top:50px;

}

.addOption {
  margin-top: 10px
}

.go {
  margin-top:5px
}

button {
  font-weight: bold;
  color: DarkOrchid;
  font-variant-caps: titling-caps;
  background-color: white;
}
